/* index.css */
:root {
  --noir-xy: #1c2826;
  --blanc-xy: #fffcf7;
  --orange-xy: #e49435;
  --gris-xy: #777777;
  --bg-blanc-xy: #fff;
  --bg-noir-xy: #1a1a1a;

  font-family: "Montserrat",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--noir-xy);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 270px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover{
  color: var(--orange-xy);
}

h2 {
  font-size: 2em;
  line-height: 1.5;
}
h4{
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

button {
  border-radius: 5px;
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  /* transition: border-color 0.25s; */
}

.logo {
  height: 7.77em;
  width: 10em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  scale: 1.1;
}

.cc{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 24;
  padding: 15px;

}

.card {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
  padding: 3em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--noir-xy);
    background-color: var(--blanc-xy);
  }
  
  .logo {
    filter: invert(90%) hue-rotate(292deg) brightness(100%) ;
  }
  h4{
    color: var(--noir-xy);
  }
  .cc{
    background-color: var(--blanc-xy);

  }
  a {
    color: var(--noir-xy);
  }
  button {
    color: var(--blanc-xy);
    background-color: var(--noir-xy);
  }
  button:hover {
    background-color: var(--orange-xy);
    color: var(--blanc-xy);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--blanc-xy);
    background-color: var(--noir-xy);
  }
  a {
    color: var(--blanc-xy);
  }
  .cc{
    background-color: var(--noir-xy);
  }
  .qrcode{
    background-color: var(--blanc-xy);
  }
  .qr{
    color: var(--orange-xy);
  }
  .icom{
    color: var(--noir-xy);
  }
  h4{
    color: var(--blanc-xy);

  }
  button {
    color: var(--noir-xy);
    background-color: var(--blanc-xy);
  }
  button:hover {
    background-color: var(--orange-xy);
    color: var(--blanc-xy);
  }

}